.section{
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 0, 17);
}

.container{
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    color: white;
}

.credential_wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, min-content);
    row-gap: .5rem;
    align-items: center;
}

.credential_wrapper input{
    height: 2.5rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid black;
    transition: .3s;

}
.credential_wrapper input:focus{
    outline: none;
    border: none;
    border-bottom: 2px solid blue;
    transition: .3s;
}

.credential_wrapper button{
    height: 2.5rem;
    background-color: rgb(96, 143, 175);
    color: white;
    transition: .3s;
    border: none;
}

.btns_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
}
.btns_wrapper div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    align-items: center;
}